
# ------------------------------- java -------------------------------
classes
target
logs


# compiled files
*.class

# package files #
*.jar
*.war
*.ear
*.zip
*.tar.gz

# temp files
*.log

# ------------------------------- intellij -------------------------------
.idea
*.iml


# ------------------------------- eclipse -------------------------------
.classpath
.project

# ------------------------------- vscode -------------------------------
.vscode